{% load i18n %}{% autoescape off %}
Olá {{ user.get_username }},

Você solicitou a redefinição de senha para sua conta na Saúde & Forma.

Por favor, acesse o link abaixo e escolha uma nova senha:

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

Se você não solicitou esta redefinição, ignore este e-mail. Sua senha permanecerá inalterada.

Este link expira em 24 horas por questões de segurança.

Atenciosamente,
Equipe Saúde & Forma

--
Dúvidas? Entre em contato:
E-mail: saude_e_forma@hotmail.com
Telefone: (47) 3622-6901
{% endautoescape %}